*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

body{
    background: #23252C;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 5% 0;
    font-family: 'Poppins', sans-serif;
}

.card{
    max-width: 317px;
    color: white;
}

.card__role{
    margin: 5px 0;
    color: #F3BF99;
}

.card__website{
    margin-bottom: 5px;
}

.card__website a{
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;

    color: #F5F5F5;
}

.card__image{
    display: flex;
}

.card__content{
    background: #1A1B21;
    padding: 30px;
}

.card__name{
    font-weight: 600;
    font-size: 25px;
}

.align{
    text-align: center;
}

.cta{
    max-width: 100%;
    background-color: white;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 40px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

a{
    text-decoration: none;
}

.cta a{
    color: black;
    margin-left: 5px;
}

.bx{
    font-size: 35px;
    color: #918E9B;
}

.bxs-envelope{
    color: black;
    font-size: 20px;
}

.card__content--text{
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #DCDCDC;
    margin-top: 7px;
}

.card__content--about{
    font-weight: 600;
    font-size: 16px;
    line-height: 15px;
    color: #F5F5F5;
}

.card__content--interest{
    margin-top: 20px;
    font-weight: 600;
    font-size: 16px;
    line-height: 15px;
    color: #F5F5F5;
}

.card__socials{
    padding: 10px 30px;
    background: #161619;
    border-radius: 0px 0px 10px 10px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

